# Server Environment Variables
PORT=4000

# GoDaddy API Credentials for Dynamic Subdomain Registration
# Generate these at: https://developer.godaddy.com/
GODADDY_API_KEY=h2JzzdDRLFN5_UrEW3qcffdwxYpTumu38J
GODADDY_API_SECRET=R7QK49EfCKHMGxijK54PWj
GODADDY_DOMAIN=onlinesarv.com

# Firebase Multi-Tenant Admin Service Credentials (if connecting separate databases automatically)
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
